* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("./img/eddy-billard-JOoOPt8tTPY-unsplash.jpg");
    background-size: cover;
}

.title {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
    padding: 10px;
}

.buttonContainer {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.dropdown {
    margin-top: 15px;
    padding: 10px 10px;
}

main {
    background-color: rgba(255, 255, 255, 0.800);
    margin: 0 20px;
    padding: 0 20px;
    border-radius: 15px;
}